<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>asterisk</key>
    <dict>
      <key>asterisk</key>
      <integer>26</integer>
      <key>dagger</key>
      <integer>26</integer>
      <key>daggerdbl</key>
      <integer>26</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.W</key>
      <integer>-100</integer>
    </dict>
    <key>dagger</key>
    <dict>
      <key>asterisk</key>
      <integer>26</integer>
      <key>dagger</key>
      <integer>26</integer>
      <key>daggerdbl</key>
      <integer>26</integer>
    </dict>
    <key>daggerdbl</key>
    <dict>
      <key>asterisk</key>
      <integer>26</integer>
      <key>dagger</key>
      <integer>26</integer>
      <key>daggerdbl</key>
      <integer>26</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>-16</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.2</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.7</key>
    <dict>
      <key>public.kern2.8</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>backslash</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-110</integer>
      <key>public.kern2.W</key>
      <integer>-86</integer>
      <key>public.kern2.Y</key>
      <integer>-96</integer>
      <key>public.kern2.YALT</key>
      <integer>-130</integer>
      <key>public.kern2.amper</key>
      <integer>-16</integer>
      <key>public.kern2.asterisk</key>
      <integer>-120</integer>
      <key>public.kern2.comma</key>
      <integer>20</integer>
      <key>public.kern2.four</key>
      <integer>-30</integer>
      <key>public.kern2.quote</key>
      <integer>-76</integer>
      <key>public.kern2.straight</key>
      <integer>-66</integer>
      <key>public.kern2.three</key>
      <integer>-20</integer>
      <key>public.kern2.tiret</key>
      <integer>-76</integer>
      <key>public.kern2.zero</key>
      <integer>-30</integer>
      <key>slash</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.Aalt</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>16</integer>
      <key>public.kern2.T</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.asterisk</key>
      <integer>-26</integer>
      <key>public.kern2.period</key>
      <integer>-16</integer>
      <key>public.kern2.quote</key>
      <integer>-16</integer>
      <key>public.kern2.straight</key>
      <integer>-26</integer>
      <key>public.kern2.under</key>
      <integer>-76</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-16</integer>
      <key>public.kern2.H</key>
      <integer>-6</integer>
      <key>public.kern2.I</key>
      <integer>-6</integer>
      <key>public.kern2.O</key>
      <integer>16</integer>
      <key>public.kern2.T</key>
      <integer>6</integer>
      <key>public.kern2.V</key>
      <integer>-6</integer>
      <key>public.kern2.Y</key>
      <integer>-6</integer>
      <key>public.kern2.Z</key>
      <integer>6</integer>
      <key>public.kern2.asterisk</key>
      <integer>16</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.tiret</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.DBS</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.M</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-12</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.W</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-6</integer>
      <key>public.kern2.comma</key>
      <integer>-6</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.tiret</key>
      <integer>-30</integer>
      <key>public.kern2.under</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.EO</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.period</key>
      <integer>-90</integer>
      <key>public.kern2.under</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.ESZETT</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.M</key>
      <integer>-40</integer>
      <key>public.kern2.S</key>
      <integer>-6</integer>
      <key>public.kern2.T</key>
      <integer>6</integer>
      <key>public.kern2.V</key>
      <integer>-6</integer>
      <key>public.kern2.X</key>
      <integer>-6</integer>
      <key>public.kern2.Y</key>
      <integer>-6</integer>
      <key>public.kern2.Z</key>
      <integer>6</integer>
      <key>public.kern2.amper</key>
      <integer>-46</integer>
      <key>public.kern2.asterisk</key>
      <integer>26</integer>
      <key>public.kern2.comma</key>
      <integer>-36</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
      <key>public.kern2.quote</key>
      <integer>16</integer>
      <key>public.kern2.straight</key>
      <integer>16</integer>
      <key>public.kern2.under</key>
      <integer>-96</integer>
    </dict>
    <key>public.kern1.FTALL</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.V</key>
      <integer>-46</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.W</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-26</integer>
      <key>public.kern2.semicolon</key>
      <integer>16</integer>
      <key>public.kern2.tiret</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>four</key>
      <integer>-26</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.W</key>
      <integer>-6</integer>
      <key>public.kern2.tiret</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>public.kern2.tiret</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.KFINA</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>36</integer>
      <key>public.kern2.period</key>
      <integer>26</integer>
    </dict>
    <key>public.kern1.KMID</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-46</integer>
      <key>public.kern2.T</key>
      <integer>-26</integer>
      <key>public.kern2.U</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-16</integer>
      <key>public.kern2.X</key>
      <integer>6</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.YALT</key>
      <integer>-80</integer>
      <key>public.kern2.Z</key>
      <integer>6</integer>
      <key>public.kern2.asterisk</key>
      <integer>-46</integer>
      <key>public.kern2.four</key>
      <integer>-60</integer>
      <key>public.kern2.one</key>
      <integer>-60</integer>
      <key>public.kern2.quote</key>
      <integer>-36</integer>
      <key>public.kern2.straight</key>
      <integer>-26</integer>
      <key>public.kern2.tiret</key>
      <integer>-106</integer>
      <key>public.kern2.under</key>
      <integer>46</integer>
      <key>public.kern2.zero</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.I</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-126</integer>
      <key>public.kern2.V</key>
      <integer>-90</integer>
      <key>public.kern2.W</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.Z</key>
      <integer>-26</integer>
      <key>public.kern2.asterisk</key>
      <integer>-120</integer>
      <key>public.kern2.comma</key>
      <integer>-6</integer>
      <key>public.kern2.period</key>
      <integer>-16</integer>
      <key>public.kern2.question</key>
      <integer>-46</integer>
      <key>public.kern2.quote</key>
      <integer>-76</integer>
      <key>public.kern2.straight</key>
      <integer>-76</integer>
      <key>public.kern2.tiret</key>
      <integer>-30</integer>
      <key>public.kern2.under</key>
      <integer>-46</integer>
    </dict>
    <key>public.kern1.LL</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-110</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-26</integer>
      <key>public.kern2.period</key>
      <integer>-140</integer>
      <key>public.kern2.under</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.LU</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-76</integer>
      <key>public.kern2.H</key>
      <integer>-26</integer>
      <key>public.kern2.M</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-6</integer>
      <key>public.kern2.V</key>
      <integer>-76</integer>
      <key>public.kern2.W</key>
      <integer>-60</integer>
      <key>public.kern2.Y</key>
      <integer>-66</integer>
      <key>public.kern2.asterisk</key>
      <integer>-60</integer>
      <key>public.kern2.quote</key>
      <integer>-36</integer>
      <key>public.kern2.tiret</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.ME</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.M</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-16</integer>
      <key>public.kern2.O</key>
      <integer>-6</integer>
      <key>public.kern2.comma</key>
      <integer>-6</integer>
      <key>public.kern2.period</key>
      <integer>-16</integer>
      <key>public.kern2.quote</key>
      <integer>-16</integer>
      <key>public.kern2.tiret</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>asterisk</key>
      <integer>-20</integer>
      <key>parenright</key>
      <integer>-6</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.M</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>30</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-26</integer>
      <key>public.kern2.W</key>
      <integer>-26</integer>
      <key>public.kern2.X</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-36</integer>
      <key>public.kern2.YALT</key>
      <integer>-80</integer>
      <key>public.kern2.bullet</key>
      <integer>10</integer>
      <key>public.kern2.comma</key>
      <integer>-36</integer>
      <key>public.kern2.paren</key>
      <integer>-26</integer>
      <key>public.kern2.period</key>
      <integer>-26</integer>
      <key>public.kern2.under</key>
      <integer>-76</integer>
    </dict>
    <key>public.kern1.Opetit</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-120</integer>
      <key>public.kern2.H</key>
      <integer>-26</integer>
      <key>public.kern2.M</key>
      <integer>-46</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.H</key>
      <integer>-6</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.M</key>
      <integer>-36</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-6</integer>
      <key>public.kern2.W</key>
      <integer>-6</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-6</integer>
      <key>public.kern2.Z</key>
      <integer>6</integer>
      <key>public.kern2.asterisk</key>
      <integer>6</integer>
      <key>public.kern2.comma</key>
      <integer>-36</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
      <key>public.kern2.quote</key>
      <integer>6</integer>
      <key>public.kern2.straight</key>
      <integer>6</integer>
      <key>public.kern2.tiret</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.RE</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.M</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.RFIN</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-116</integer>
      <key>public.kern2.tiret</key>
      <integer>-146</integer>
    </dict>
    <key>public.kern1.RI</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.T</key>
      <integer>-6</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.W</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.RMID</key>
    <dict>
      <key>public.kern2.I</key>
      <integer>-6</integer>
      <key>public.kern2.O</key>
      <integer>-46</integer>
      <key>public.kern2.T</key>
      <integer>-66</integer>
      <key>public.kern2.U</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-86</integer>
      <key>public.kern2.W</key>
      <integer>-76</integer>
      <key>public.kern2.Y</key>
      <integer>-86</integer>
      <key>public.kern2.YALT</key>
      <integer>-130</integer>
      <key>public.kern2.asterisk</key>
      <integer>-46</integer>
      <key>public.kern2.quote</key>
      <integer>-76</integer>
      <key>public.kern2.straight</key>
      <integer>-26</integer>
      <key>public.kern2.tiret</key>
      <integer>-106</integer>
      <key>public.kern2.under</key>
      <integer>36</integer>
      <key>space</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.RO</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-76</integer>
      <key>public.kern2.M</key>
      <integer>-46</integer>
      <key>public.kern2.S</key>
      <integer>-6</integer>
      <key>public.kern2.V</key>
      <integer>-36</integer>
      <key>public.kern2.W</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-16</integer>
      <key>public.kern2.O</key>
      <integer>-6</integer>
      <key>public.kern2.T</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.Z</key>
      <integer>-6</integer>
      <key>public.kern2.asterisk</key>
      <integer>-16</integer>
      <key>public.kern2.quote</key>
      <integer>-26</integer>
      <key>public.kern2.tiret</key>
      <integer>-6</integer>
      <key>public.kern2.under</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-96</integer>
      <key>public.kern2.Jalt</key>
      <integer>-130</integer>
      <key>public.kern2.M</key>
      <integer>-40</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-6</integer>
      <key>public.kern2.W</key>
      <integer>-6</integer>
      <key>public.kern2.YALT</key>
      <integer>-16</integer>
      <key>public.kern2.Z</key>
      <integer>10</integer>
      <key>public.kern2.amper</key>
      <integer>-76</integer>
      <key>public.kern2.asterisk</key>
      <integer>16</integer>
      <key>public.kern2.comma</key>
      <integer>-36</integer>
      <key>public.kern2.four</key>
      <integer>-120</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
      <key>public.kern2.straight</key>
      <integer>6</integer>
      <key>public.kern2.tiret</key>
      <integer>-30</integer>
      <key>public.kern2.under</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.THORN</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-46</integer>
      <key>public.kern2.V</key>
      <integer>-46</integer>
      <key>public.kern2.W</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-110</integer>
      <key>public.kern2.M</key>
      <integer>-76</integer>
      <key>public.kern2.O</key>
      <integer>-26</integer>
      <key>public.kern2.S</key>
      <integer>-26</integer>
      <key>public.kern2.T</key>
      <integer>-6</integer>
      <key>public.kern2.amper</key>
      <integer>-76</integer>
      <key>public.kern2.comma</key>
      <integer>-36</integer>
      <key>public.kern2.four</key>
      <integer>-120</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
      <key>public.kern2.quote</key>
      <integer>-16</integer>
      <key>public.kern2.tiret</key>
      <integer>-46</integer>
      <key>public.kern2.under</key>
      <integer>-120</integer>
      <key>slash</key>
      <integer>-116</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-86</integer>
      <key>public.kern2.H</key>
      <integer>-6</integer>
      <key>public.kern2.M</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-26</integer>
      <key>public.kern2.S</key>
      <integer>-26</integer>
      <key>public.kern2.T</key>
      <integer>-6</integer>
      <key>public.kern2.amper</key>
      <integer>-70</integer>
      <key>public.kern2.comma</key>
      <integer>-36</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
      <key>public.kern2.quote</key>
      <integer>-16</integer>
      <key>public.kern2.tiret</key>
      <integer>-40</integer>
      <key>public.kern2.under</key>
      <integer>-110</integer>
      <key>slash</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>16</integer>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.comma</key>
      <integer>16</integer>
      <key>public.kern2.quote</key>
      <integer>-16</integer>
      <key>public.kern2.tiret</key>
      <integer>-46</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-96</integer>
      <key>public.kern2.M</key>
      <integer>-66</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-26</integer>
      <key>public.kern2.comma</key>
      <integer>-36</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
      <key>public.kern2.quote</key>
      <integer>-16</integer>
      <key>public.kern2.tiret</key>
      <integer>-46</integer>
      <key>public.kern2.under</key>
      <integer>-120</integer>
      <key>slash</key>
      <integer>-160</integer>
    </dict>
    <key>public.kern1.YALT</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-130</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.T</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.M</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-16</integer>
      <key>public.kern2.W</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.asterisk</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.quote</key>
      <integer>-46</integer>
      <key>public.kern2.straight</key>
      <integer>-26</integer>
      <key>public.kern2.tiret</key>
      <integer>-30</integer>
      <key>public.kern2.under</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.amper</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.T</key>
      <integer>-76</integer>
      <key>public.kern2.V</key>
      <integer>-76</integer>
      <key>public.kern2.W</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.asterisk</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-120</integer>
      <key>public.kern2.M</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>16</integer>
      <key>public.kern2.Z</key>
      <integer>26</integer>
    </dict>
    <key>public.kern1.bullet</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.comma</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-36</integer>
      <key>public.kern2.U</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-36</integer>
      <key>public.kern2.W</key>
      <integer>-26</integer>
      <key>public.kern2.Y</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.paren</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-26</integer>
      <key>public.kern2.paren</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-26</integer>
      <key>public.kern2.T</key>
      <integer>-36</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-36</integer>
      <key>public.kern2.W</key>
      <integer>-36</integer>
      <key>public.kern2.Y</key>
      <integer>-36</integer>
      <key>public.kern2.five</key>
      <integer>-26</integer>
      <key>public.kern2.one</key>
      <integer>-36</integer>
      <key>public.kern2.three</key>
      <integer>-26</integer>
      <key>public.kern2.zero</key>
      <integer>-16</integer>
      <key>seven</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.quote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-76</integer>
      <key>public.kern2.M</key>
      <integer>-76</integer>
      <key>public.kern2.O</key>
      <integer>-26</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>16</integer>
      <key>public.kern2.W</key>
      <integer>16</integer>
      <key>public.kern2.X</key>
      <integer>16</integer>
      <key>public.kern2.Y</key>
      <integer>16</integer>
      <key>public.kern2.quote</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.six</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.straight</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-66</integer>
      <key>public.kern2.O</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.three</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-26</integer>
      <key>public.kern2.zero</key>
      <integer>6</integer>
    </dict>
    <key>public.kern1.tiret</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-76</integer>
      <key>public.kern2.H</key>
      <integer>-40</integer>
      <key>public.kern2.I</key>
      <integer>-36</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.M</key>
      <integer>-26</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-46</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-46</integer>
      <key>public.kern2.Y</key>
      <integer>-46</integer>
    </dict>
    <key>public.kern1.under</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-76</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-120</integer>
      <key>public.kern2.U</key>
      <integer>-36</integer>
      <key>public.kern2.V</key>
      <integer>-120</integer>
      <key>public.kern2.W</key>
      <integer>-110</integer>
      <key>public.kern2.Y</key>
      <integer>-120</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-16</integer>
      <key>public.kern2.zero</key>
      <integer>20</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-110</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.M</key>
      <integer>-46</integer>
    </dict>
    <key>uni27C5</key>
    <dict>
      <key>uni27C5</key>
      <integer>-126</integer>
    </dict>
    <key>uni27C6</key>
    <dict>
      <key>uni27C6</key>
      <integer>-126</integer>
    </dict>
  </dict>
</plist>
