<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.ss01</key>
    <string>A_.ss01.glif</string>
    <key>A.ss02</key>
    <string>A_.ss02.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>A_A.dlig</key>
    <string>A__A_.dlig.glif</string>
    <key>A_S.dlig</key>
    <string>A__S_.dlig.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Aacute.ss01</key>
    <string>A_acute.ss01.glif</string>
    <key>Aacute.ss02</key>
    <string>A_acute.ss02.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Abreve.ss01</key>
    <string>A_breve.ss01.glif</string>
    <key>Abreve.ss02</key>
    <string>A_breve.ss02.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Acircumflex.ss01</key>
    <string>A_circumflex.ss01.glif</string>
    <key>Acircumflex.ss02</key>
    <string>A_circumflex.ss02.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Adieresis.ss01</key>
    <string>A_dieresis.ss01.glif</string>
    <key>Adieresis.ss02</key>
    <string>A_dieresis.ss02.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Agrave.ss01</key>
    <string>A_grave.ss01.glif</string>
    <key>Agrave.ss02</key>
    <string>A_grave.ss02.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Amacron.ss01</key>
    <string>A_macron.ss01.glif</string>
    <key>Amacron.ss02</key>
    <string>A_macron.ss02.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aogonek.ss01</key>
    <string>A_ogonek.ss01.glif</string>
    <key>Aogonek.ss02</key>
    <string>A_ogonek.ss02.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aring.ss01</key>
    <string>A_ring.ss01.glif</string>
    <key>Aring.ss02</key>
    <string>A_ring.ss02.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Atilde.ss01</key>
    <string>A_tilde.ss01.glif</string>
    <key>Atilde.ss02</key>
    <string>A_tilde.ss02.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C_A.dlig</key>
    <string>C__A_.dlig.glif</string>
    <key>C_A_S.dlig</key>
    <string>C__A__S_.dlig.glif</string>
    <key>C_C.dlig</key>
    <string>C__C_.dlig.glif</string>
    <key>C_E.dlig</key>
    <string>C__E_.dlig.glif</string>
    <key>C_H.dlig</key>
    <string>C__H_.dlig.glif</string>
    <key>C_I.dlig</key>
    <string>C__I_.dlig.glif</string>
    <key>C_L.dlig</key>
    <string>C__L_.dlig.glif</string>
    <key>C_O.dlig</key>
    <string>C__O_.dlig.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D_E.dlig</key>
    <string>D__E_.dlig.glif</string>
    <key>D_O.dlig</key>
    <string>D__O_.dlig.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E_O.dlig</key>
    <string>E__O_.dlig.glif</string>
    <key>E_T.dlig</key>
    <string>E__T_.dlig.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.ss03</key>
    <string>F_.ss03.glif</string>
    <key>F_O.dlig</key>
    <string>F__O_.dlig.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H_E.dlig</key>
    <string>H__E_.dlig.glif</string>
    <key>H_R.dlig</key>
    <string>H__R_.dlig.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.ss02</key>
    <string>J_.ss02.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.fina</key>
    <string>K_.fina.glif</string>
    <key>K.init</key>
    <string>K_.init.glif</string>
    <key>K.isol</key>
    <string>K_.isol.glif</string>
    <key>K.medi</key>
    <string>K_.medi.glif</string>
    <key>K_A.dlig</key>
    <string>K__A_.dlig.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.ss03</key>
    <string>L_.ss03.glif</string>
    <key>L.ss05</key>
    <string>L_.ss05.glif</string>
    <key>L_A.dlig</key>
    <string>L__A_.dlig.glif</string>
    <key>L_A_S.dlig</key>
    <string>L__A__S_.dlig.glif</string>
    <key>L_C.dlig</key>
    <string>L__C_.dlig.glif</string>
    <key>L_E.dlig</key>
    <string>L__E_.dlig.glif</string>
    <key>L_I.dlig</key>
    <string>L__I_.dlig.glif</string>
    <key>L_L.dlig</key>
    <string>L__L_.dlig.glif</string>
    <key>L_M.dlig</key>
    <string>L__M_.dlig.glif</string>
    <key>L_O.dlig</key>
    <string>L__O_.dlig.glif</string>
    <key>L_U.dlig</key>
    <string>L__U_.dlig.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>Lacute.ss05</key>
    <string>L_acute.ss05.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lcaron.ss05</key>
    <string>L_caron.ss05.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Lslash.ss05</key>
    <string>L_slash.ss05.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M_A.dlig</key>
    <string>M__A_.dlig.glif</string>
    <key>M_E.dlig</key>
    <string>M__E_.dlig.glif</string>
    <key>M_M.dlig</key>
    <string>M__M_.dlig.glif</string>
    <key>M_P.dlig</key>
    <string>M__P_.dlig.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.ss02</key>
    <string>N_.ss02.glif</string>
    <key>N_D.dlig</key>
    <string>N__D_.dlig.glif</string>
    <key>N_E.dlig</key>
    <string>N__E_.dlig.glif</string>
    <key>N_F.dlig</key>
    <string>N__F_.dlig.glif</string>
    <key>N_N.dlig</key>
    <string>N__N_.dlig.glif</string>
    <key>N_T.dlig</key>
    <string>N__T_.dlig.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>O_F.dlig</key>
    <string>O__F_.dlig.glif</string>
    <key>O_I.dlig</key>
    <string>O__I_.dlig.glif</string>
    <key>O_O.dlig</key>
    <string>O__O_.dlig.glif</string>
    <key>O_U.dlig</key>
    <string>O__U_.dlig.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P_E.dlig</key>
    <string>P__E_.dlig.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.ss04</key>
    <string>Q_.ss04.glif</string>
    <key>Q_U.dlig</key>
    <string>Q__U_.dlig.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.fina</key>
    <string>R_.fina.glif</string>
    <key>R.init</key>
    <string>R_.init.glif</string>
    <key>R.isol</key>
    <string>R_.isol.glif</string>
    <key>R.medi</key>
    <string>R_.medi.glif</string>
    <key>R_A.dlig</key>
    <string>R__A_.dlig.glif</string>
    <key>R_E.dlig</key>
    <string>R__E_.dlig.glif</string>
    <key>R_I.dlig</key>
    <string>R__I_.dlig.glif</string>
    <key>R_O.dlig</key>
    <string>R__O_.dlig.glif</string>
    <key>R_T.dlig</key>
    <string>R__T_.dlig.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Racute.fina</key>
    <string>R_acute.fina.glif</string>
    <key>Racute.init</key>
    <string>R_acute.init.glif</string>
    <key>Racute.medi</key>
    <string>R_acute.medi.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Rcaron.fina</key>
    <string>R_caron.fina.glif</string>
    <key>Rcaron.init</key>
    <string>R_caron.init.glif</string>
    <key>Rcaron.medi</key>
    <string>R_caron.medi.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S_S.dlig</key>
    <string>S__S_.dlig.glif</string>
    <key>S_T.dlig</key>
    <string>S__T_.dlig.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.ss03</key>
    <string>T_.ss03.glif</string>
    <key>T_E.dlig</key>
    <string>T__E_.dlig.glif</string>
    <key>T_H.dlig</key>
    <string>T__H_.dlig.glif</string>
    <key>T_T.dlig</key>
    <string>T__T_.dlig.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U_B.dlig</key>
    <string>U__B_.dlig.glif</string>
    <key>U_E.dlig</key>
    <string>U__E_.dlig.glif</string>
    <key>U_K.dlig</key>
    <string>U__K_.dlig.glif</string>
    <key>U_R.dig</key>
    <string>U__R_.dig.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V_A.dlig</key>
    <string>V__A_.dlig.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.ss02</key>
    <string>Y_.ss02.glif</string>
    <key>Y.ss06</key>
    <string>Y_.ss06.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Yacute.ss02</key>
    <string>Y_acute.ss02.glif</string>
    <key>Yacute.ss06</key>
    <string>Y_acute.ss06.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>Ycircumflex.ss02</key>
    <string>Y_circumflex.ss02.glif</string>
    <key>Ycircumflex.ss06</key>
    <string>Y_circumflex.ss06.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Ydieresis.ss02</key>
    <string>Y_dieresis.ss02.glif</string>
    <key>Ydieresis.ss06</key>
    <string>Y_dieresis.ss06.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>Ygrave.ss02</key>
    <string>Y_grave.ss02.glif</string>
    <key>Ygrave.ss06</key>
    <string>Y_grave.ss06.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>_corner.leftSerifextralong</key>
    <string>_corner.leftS_erifextralong.glif</string>
    <key>_corner.leftSeriflong</key>
    <string>_corner.leftS_eriflong.glif</string>
    <key>_corner.leftSerifshort</key>
    <string>_corner.leftS_erifshort.glif</string>
    <key>_corner.rightSerifextralong</key>
    <string>_corner.rightS_erifextralong.glif</string>
    <key>_corner.rightSeriflong</key>
    <string>_corner.rightS_eriflong.glif</string>
    <key>_corner.rightSerifshort</key>
    <string>_corner.rightS_erifshort.glif</string>
    <key>_corner.upperleftSerifextralong</key>
    <string>_corner.upperleftS_erifextralong.glif</string>
    <key>_corner.upperleftSeriflong</key>
    <string>_corner.upperleftS_eriflong.glif</string>
    <key>_corner.upperleftSerifshort</key>
    <string>_corner.upperleftS_erifshort.glif</string>
    <key>_corner.upperrightSerifextralong</key>
    <string>_corner.upperrightS_erifextralong.glif</string>
    <key>_corner.upperrightSeriflong</key>
    <string>_corner.upperrightS_eriflong.glif</string>
    <key>_corner.upperrightSerifshort</key>
    <string>_corner.upperrightS_erifshort.glif</string>
    <key>_part.C</key>
    <string>_part.C_.glif</string>
    <key>_part.littleO</key>
    <string>_part.littleO_.glif</string>
    <key>_part.stembothleft</key>
    <string>_part.stembothleft.glif</string>
    <key>_part.stembothmiddle</key>
    <string>_part.stembothmiddle.glif</string>
    <key>_part.stembothmiddledownthree</key>
    <string>_part.stembothmiddledownthree.glif</string>
    <key>_part.stembothmiddleupthree</key>
    <string>_part.stembothmiddleupthree.glif</string>
    <key>_part.stembothright</key>
    <string>_part.stembothright.glif</string>
    <key>_part.stembottom</key>
    <string>_part.stembottom.glif</string>
    <key>_part.stemleft</key>
    <string>_part.stemleft.glif</string>
    <key>_part.stemright</key>
    <string>_part.stemright.glif</string>
    <key>_part.u</key>
    <string>_part.u.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.ss06</key>
    <string>colon.ss06.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma.ss06</key>
    <string>comma.ss06.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>ellipsis.ss06</key>
    <string>ellipsis.ss06.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period.ss06</key>
    <string>period.ss06.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.ss06</key>
    <string>periodcentered.ss06.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semicolon.ss06</key>
    <string>semicolon.ss06.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni004A0301</key>
    <string>uni004A_0301.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni0122</key>
    <string>uni0122.glif</string>
    <key>uni0136</key>
    <string>uni0136.glif</string>
    <key>uni013B</key>
    <string>uni013B_.glif</string>
    <key>uni013B.ss05</key>
    <string>uni013B_.ss05.glif</string>
    <key>uni0145</key>
    <string>uni0145.glif</string>
    <key>uni0156</key>
    <string>uni0156.glif</string>
    <key>uni0156.fina</key>
    <string>uni0156.fina.glif</string>
    <key>uni0156.init</key>
    <string>uni0156.init.glif</string>
    <key>uni0156.medi</key>
    <string>uni0156.medi.glif</string>
    <key>uni0162</key>
    <string>uni0162.glif</string>
    <key>uni0218</key>
    <string>uni0218.glif</string>
    <key>uni021A</key>
    <string>uni021A_.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>uni0302.narrow</key>
    <string>uni0302.narrow.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni0304.narrow</key>
    <string>uni0304.narrow.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni0308.narrow</key>
    <string>uni0308.narrow.glif</string>
    <key>uni030A</key>
    <string>uni030A_.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>uni030C</key>
    <string>uni030C_.glif</string>
    <key>uni030C.alt</key>
    <string>uni030C_.alt.glif</string>
    <key>uni0326</key>
    <string>uni0326.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>uni0328</key>
    <string>uni0328.glif</string>
    <key>uni1E9E</key>
    <string>uni1E_9E_.glif</string>
    <key>uni2009</key>
    <string>uni2009.glif</string>
    <key>uni27C5</key>
    <string>uni27C_5.glif</string>
    <key>uni27C6</key>
    <string>uni27C_6.glif</string>
    <key>uni27E8</key>
    <string>uni27E_8.glif</string>
    <key>uni27E9</key>
    <string>uni27E_9.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
