<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-70</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_seven</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_w</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_J</key>
		<integer>-80</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
		<key>@MMK_R_down</key>
		<integer>-80</integer>
		<key>@MMK_R_four</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>AE</key>
		<integer>-90</integer>
		<key>ampersand.alt</key>
		<integer>-50</integer>
		<key>questiondown</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-90</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_seven</key>
		<integer>-30</integer>
		<key>@MMK_R_top</key>
		<integer>-100</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-15</integer>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_seven</key>
		<integer>-20</integer>
		<key>AE</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>AE</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_J</key>
		<integer>-80</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_down</key>
		<integer>-80</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_four</key>
		<integer>-90</integer>
		<key>@MMK_R_g</key>
		<integer>-70</integer>
		<key>@MMK_R_mid</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>@MMK_R_s</key>
		<integer>-80</integer>
		<key>@MMK_R_t</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>@MMK_R_w</key>
		<integer>-70</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>@MMK_R_z</key>
		<integer>-70</integer>
		<key>AE</key>
		<integer>-90</integer>
		<key>eight</key>
		<integer>-20</integer>
		<key>questiondown</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_down</key>
		<integer>-30</integer>
		<key>exclamdown</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_J</key>
		<integer>-60</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_colon</key>
		<integer>-30</integer>
		<key>@MMK_R_down</key>
		<integer>-80</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_four</key>
		<integer>-60</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_mid</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>questiondown</key>
		<integer>-30</integer>
		<key>sterling</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_down</key>
		<integer>-50</integer>
		<key>@MMK_R_f</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>AE</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_f</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_down</key>
		<integer>-100</integer>
		<key>@MMK_R_f</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_mid</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_backslash</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_bracket</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_colon</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_down</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-80</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_w</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_eight</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_down</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_four</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>40</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_mid</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-80</integer>
		<key>@MMK_R_down</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_seven</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_top</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>@MMK_R_w</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-10</integer>
		<key>nine</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>two</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_one</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_down</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
		<key>@MMK_R_x</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_top</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_two</key>
	<dict>
		<key>@MMK_R_six</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_down</key>
		<integer>-50</integer>
		<key>@MMK_R_four</key>
		<integer>-20</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_seven</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_w</key>
		<integer>30</integer>
		<key>@MMK_R_x</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_down</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-5</integer>
		<key>@MMK_R_v</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>20</integer>
		<key>@MMK_R_w</key>
		<integer>20</integer>
		<key>@MMK_R_x</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>10</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
	</dict>
	<key>bullet</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-50</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>iogonek</key>
		<integer>40</integer>
	</dict>
	<key>numbersign</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-31</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
	</dict>
</dict>
</plist>
