<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3507</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Optical size</string>
        <key>tag</key>
        <string>opsz</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>90</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>E6534DA2-0C37-48D1-AD4F-C22C7A881B4F</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.gridSubDivision</key>
    <integer>2</integer>
    <key>com.schriftgestaltung.iconName</key>
    <string>Light</string>
    <key>com.schriftgestaltung.master.name</key>
    <string>Banner</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>uni0122</string>
      <string>Gdotaccent</string>
      <string>H</string>
      <string>Hbar</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>J</string>
      <string>uni004A0301</string>
      <string>K</string>
      <string>uni0136</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>uni013B</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>uni0145</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>uni0156</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>uni0218</string>
      <string>uni1E9E</string>
      <string>T</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>K.fina</string>
      <string>R.fina</string>
      <string>Racute.fina</string>
      <string>Rcaron.fina</string>
      <string>uni0156.fina</string>
      <string>K.init</string>
      <string>R.init</string>
      <string>Racute.init</string>
      <string>Rcaron.init</string>
      <string>uni0156.init</string>
      <string>K.isol</string>
      <string>R.isol</string>
      <string>K.medi</string>
      <string>R.medi</string>
      <string>Racute.medi</string>
      <string>Rcaron.medi</string>
      <string>uni0156.medi</string>
      <string>A.ss01</string>
      <string>Aacute.ss01</string>
      <string>Abreve.ss01</string>
      <string>Acircumflex.ss01</string>
      <string>Adieresis.ss01</string>
      <string>Agrave.ss01</string>
      <string>Amacron.ss01</string>
      <string>Aogonek.ss01</string>
      <string>Aring.ss01</string>
      <string>Atilde.ss01</string>
      <string>A.ss02</string>
      <string>Aacute.ss02</string>
      <string>Abreve.ss02</string>
      <string>Acircumflex.ss02</string>
      <string>Adieresis.ss02</string>
      <string>Agrave.ss02</string>
      <string>Amacron.ss02</string>
      <string>Aogonek.ss02</string>
      <string>Aring.ss02</string>
      <string>Atilde.ss02</string>
      <string>J.ss02</string>
      <string>N.ss02</string>
      <string>Y.ss02</string>
      <string>Yacute.ss02</string>
      <string>Ycircumflex.ss02</string>
      <string>Ydieresis.ss02</string>
      <string>Ygrave.ss02</string>
      <string>F.ss03</string>
      <string>L.ss03</string>
      <string>T.ss03</string>
      <string>Q.ss04</string>
      <string>L.ss05</string>
      <string>Lacute.ss05</string>
      <string>Lcaron.ss05</string>
      <string>uni013B.ss05</string>
      <string>Lslash.ss05</string>
      <string>Y.ss06</string>
      <string>Yacute.ss06</string>
      <string>Ycircumflex.ss06</string>
      <string>Ydieresis.ss06</string>
      <string>Ygrave.ss06</string>
      <string>A_A.dlig</string>
      <string>A_S.dlig</string>
      <string>C_A.dlig</string>
      <string>C_A_S.dlig</string>
      <string>C_C.dlig</string>
      <string>C_E.dlig</string>
      <string>C_H.dlig</string>
      <string>C_I.dlig</string>
      <string>C_L.dlig</string>
      <string>C_O.dlig</string>
      <string>D_E.dlig</string>
      <string>D_O.dlig</string>
      <string>E_O.dlig</string>
      <string>E_T.dlig</string>
      <string>F_O.dlig</string>
      <string>H_E.dlig</string>
      <string>H_R.dlig</string>
      <string>K_A.dlig</string>
      <string>L_A.dlig</string>
      <string>L_A_S.dlig</string>
      <string>L_C.dlig</string>
      <string>L_E.dlig</string>
      <string>L_I.dlig</string>
      <string>L_L.dlig</string>
      <string>L_M.dlig</string>
      <string>L_O.dlig</string>
      <string>L_U.dlig</string>
      <string>M_A.dlig</string>
      <string>M_E.dlig</string>
      <string>M_M.dlig</string>
      <string>M_P.dlig</string>
      <string>N_D.dlig</string>
      <string>N_E.dlig</string>
      <string>N_F.dlig</string>
      <string>N_N.dlig</string>
      <string>N_T.dlig</string>
      <string>O_F.dlig</string>
      <string>O_I.dlig</string>
      <string>O_O.dlig</string>
      <string>O_U.dlig</string>
      <string>P_E.dlig</string>
      <string>Q_U.dlig</string>
      <string>R_A.dlig</string>
      <string>R_E.dlig</string>
      <string>R_I.dlig</string>
      <string>R_O.dlig</string>
      <string>R_T.dlig</string>
      <string>S_S.dlig</string>
      <string>S_T.dlig</string>
      <string>T_E.dlig</string>
      <string>T_H.dlig</string>
      <string>T_T.dlig</string>
      <string>U_B.dlig</string>
      <string>U_E.dlig</string>
      <string>U_K.dlig</string>
      <string>V_A.dlig</string>
      <string>U_R.dig</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni2009</string>
      <string>uni27E8</string>
      <string>uni27E9</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>period.ss06</string>
      <string>comma.ss06</string>
      <string>colon.ss06</string>
      <string>semicolon.ss06</string>
      <string>ellipsis.ss06</string>
      <string>periodcentered.ss06</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>uni27C5</string>
      <string>uni27C6</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>at</string>
      <string>ampersand</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>percent</string>
      <string>uni0308</string>
      <string>uni0307</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>uni030B</string>
      <string>uni030C.alt</string>
      <string>uni0302</string>
      <string>uni030C</string>
      <string>uni0306</string>
      <string>uni030A</string>
      <string>tildecomb</string>
      <string>uni0304</string>
      <string>uni0326</string>
      <string>uni0327</string>
      <string>uni0328</string>
      <string>uni0308.narrow</string>
      <string>uni0302.narrow</string>
      <string>uni0304.narrow</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>_part.C</string>
      <string>_part.littleO</string>
      <string>_part.stembothleft</string>
      <string>_part.stembothmiddle</string>
      <string>_part.stembothmiddledownthree</string>
      <string>_part.stembothmiddleupthree</string>
      <string>_part.stembothright</string>
      <string>_part.stembottom</string>
      <string>_part.stemleft</string>
      <string>_part.stemright</string>
      <string>_part.u</string>
      <string>_corner.leftSerifextralong</string>
      <string>_corner.leftSeriflong</string>
      <string>_corner.leftSerifshort</string>
      <string>_corner.rightSerifextralong</string>
      <string>_corner.rightSeriflong</string>
      <string>_corner.rightSerifshort</string>
      <string>_corner.upperleftSerifextralong</string>
      <string>_corner.upperleftSeriflong</string>
      <string>_corner.upperleftSerifshort</string>
      <string>_corner.upperrightSerifextralong</string>
      <string>_corner.upperrightSeriflong</string>
      <string>_corner.upperrightSerifshort</string>
    </array>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>_corner.leftSerifextralong</string>
      <string>_corner.leftSeriflong</string>
      <string>_corner.leftSerifshort</string>
      <string>_corner.rightSerifextralong</string>
      <string>_corner.rightSeriflong</string>
      <string>_corner.rightSerifshort</string>
      <string>_corner.upperleftSerifextralong</string>
      <string>_corner.upperleftSeriflong</string>
      <string>_corner.upperleftSerifshort</string>
      <string>_corner.upperrightSerifextralong</string>
      <string>_corner.upperrightSeriflong</string>
      <string>_corner.upperrightSerifshort</string>
      <string>_part.C</string>
      <string>_part.littleO</string>
      <string>_part.stembothleft</string>
      <string>_part.stembothmiddle</string>
      <string>_part.stembothmiddledownthree</string>
      <string>_part.stembothmiddleupthree</string>
      <string>_part.stembothright</string>
      <string>_part.stembottom</string>
      <string>_part.stemleft</string>
      <string>_part.stemright</string>
      <string>_part.u</string>
    </array>
  </dict>
</plist>
